@import url(./vendor/normalize.css);
@import url(./vendor/fonts/font.css);


.header{
  width: 100%;
  background-color: rgba(13, 13, 43, 1);
  box-sizing: border-box;
}

.header__content{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}


.header__top{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.header__logo{
  max-width: 134px;
  max-height: 40px;
}

.header__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 339px;
  width: 100%;
  margin-left: 452px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

.header__menu-link{
  color: white;
  text-decoration: none;
}

.header__authentication{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 221px;
  width: 100%;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-left: 56px;
}

.header__login{
  width: 67px;
  align-self: center;
  border-right:  1px solid #F2F2F2;;
}

.button{
  width: 130px;
  height: 52px;
  border-radius: 32px;
  color: white;
  background-color: #3671E9;
  border-color: transparent;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.header__proposition{
  display: flex;
  flex-direction: row;
  color: white; 
  margin-top: 51px;
  padding-bottom: 101px;
}

.header__illustration{
  max-width: 604px;
}

.header__info{
  margin-top: 50px;
}


.header__info-discount{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  padding: 4px 11px 4px 4px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 32px;
  max-width: 350px;
}

.header__info-profit{
  max-width: 113px;
  width: 100%;
  height: 32px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #0D0D2B;
  background-color: white;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title{
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 76px;
  margin: 24px 0;
}

.header__text{
  max-width: 435px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  margin: 0 0 32px 0
}

/* .main{
  max-width: 1200px;
  margin: 0 auto;
} */

.numbers{
  width: 100%;
  background-color: rgba(13, 13, 43, 1);
  box-sizing: border-box;
}

.numbers__content{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  padding: 100px auto 116px;
}

.numbers__block{
  display: flex;
  flex-direction: row;
}

.numbers__block-icon{
  background-color: rgba(255, 255, 255, 0.1);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.numbers__icon{
  width: 40px;
}

.numbers__block-number{
  margin-left: 24px;
  font-style: normal;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

.numbers__number{
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
}

.number__text{
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
}


.trade{
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
} 

.trade__first{
  width: 100%;
  background-color: rgba(13, 13, 43, 1);
  box-sizing: border-box;
}

.trade__block-info{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0 0;
  color: white;
}
.trade__title{
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}

.trade__text{
  margin: 24px 0 0 0;
  max-width: 622px;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  padding-bottom: 219px;
}

.trade__second{
  width: 100%;
  background-color: #E0E0E0;
  box-sizing: border-box;
}

.trade__cryptocurrencies{
  max-width: 1200px;
  margin: 0 auto;
}

.trade__cryptocurrencies-title{
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #0D0D2B;
  text-align: center;
  margin: 0;
  padding: 316px 0 0 0;
}

.trade__items{
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  padding-bottom: 100px;
}

.trade__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 370px;
  background-color: rgba(43, 7, 110, 1);
  color: white;
  border-radius: 16px;
}

.trade__item_property_color{
  background-color: white;
  color: #828282;
}

.trade__item-title_type_black{
  color: black;
}

.trade__icon{
  max-width: 80px;
  width: 100%;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(180deg, #F9AA4B -0.02%, #F7931A 99.99%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.trade__item-title{
  display: flex;
  margin-top: 48px;
}

.trade__crypt{
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin: 0;
}

.trade__crypt-index{
  margin: 0 0 0 8px;
  opacity: 0.7;
  display: flex;
  align-items: center;
}

.trade__item-text{
  margin: 0;
  padding: 16px 24px 25px;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.01em;
}

.trade-item-button{
  width: 130px;
  height: 52px;
  border-radius: 32px;
  color: white;
  background-color: #3671E9;
  border-color: transparent;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-bottom: 48px;
}

.mining{
  width: 100%;
  background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
  box-sizing: border-box;
  color: white;
  padding: 88px 0;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
}

.mining__content{
  max-width: 1200px;
  background-color: rgba(54, 113, 233, 1);
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  padding: 48px;
  justify-content: space-between;
}

.mining__title{
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  margin: 0;
}

.mining__text{
  max-width: 348px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

.mining__block-form{
  display: flex;
  max-width: 566px;
  width: 100%;
  justify-content: space-between;
}
.mining__input{
  max-width: 374px;
  width: 100%;
  background: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.mining__button{
  width: 130px;
  height: 52px;
  border-radius: 32px;
  background: #FFFFFF;
  border-color: transparent;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0D0D2B;

}