.header{
  width: 100%;
  background-color: rgba(13, 13, 43, 1);
  box-sizing: border-box;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
}

.header__content{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}

.header__menu{
  max-width: 560px;
  width: 100%;
  display: flex;
}

@media (max-width: 1300px){
  .header__content{
    padding: 60px 50px 0;
  }
}

@media (max-width: 850px){
  .header__menu{
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (max-width: 680px){
  .header__menu{
    align-items: center;
    flex-direction: row;
  }
}

@media (max-width: 500px){
  .header__menu{
    margin-top: 10px;

  }
}

@media (max-width: 320px){
  .header__menu{
   flex-direction: column;
  }
}

.header__top{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 500px){
  .header__top{
    flex-direction: column;
  }
}

.header__logo{
  max-width: 134px;
  height: 40px;
}

@media (max-width: 500px){
  .header__logo{
    max-width: 200px;
    width: 100%;
    height: 60px;
    align-self: start;
  }
}

.header__nav{
  max-width: 339px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

@media (max-width: 680px){
  .header__nav{
   flex-direction: column;
  }
}

@media (max-width: 500px){
  .header__nav{
   margin-top: 10px;
   font-size: 20px;
   align-items: flex-start;
  }
}

@media (max-width: 320px){
  .header__nav{
   align-items: center;
  }
}

.header__nav-link{
  color: white;
  text-decoration: none;
}

@media (max-width: 500px){
  .header__nav-link{
   margin-top: 10px;

  }
}

@media (max-width: 320px){
  .header__nav-link:last-child{
   padding-bottom: 5px;
  }
}


.header__authentication{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 221px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-left: 56px;
}




@media (max-width: 850px){
  .header__authentication{
    margin-right: 56px;
    margin-top: 10px;
  }
}

@media (max-width: 680px){
  .header__authentication{
   flex-direction: column;
   margin:0
  }
}

.header__login{
  width: 67px;
  align-self: center;
  border-right:  1px solid #F2F2F2;;
}

@media (max-width: 680px){
  .header__login{
   border: none;
   text-align: center;
   font-size: 20px;
  }
}

@media (max-width: 320px){
  .header__login{
   border-top:  1px solid #F2F2F2;
   padding-top: 5px;
  }
}

.header__proposition{
  display: flex;
  flex-direction: row;
  color: white; 
  margin-top: 51px;
  padding-bottom: 101px;
}

@media (max-width: 860px){
  .header__proposition{
    flex-direction: column;
    padding-bottom: 50px;
  }
}



.header__illustration{
  max-width: 604px;
}

@media (max-width: 1100px){
  .header__illustration{
    max-width: 400px;
    width: 100%;
    max-height: 450px;
    align-self: center;
  }
}

.header__info{
  margin-top: 50px;
}

@media (max-width: 500px){
  .header__info{
   margin: 0;
  }
}


.header__info-discount{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  padding: 4px 11px 4px 4px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 32px;
  max-width: 350px;
}

@media (max-width: 500px){
  .header__info-discount{
   text-align: center;
  }
}

.header__info-profit{
  max-width: 113px;
  width: 100%;
  height: 32px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #0D0D2B;
  background-color: white;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px){
  .header__info-profit{
    margin-right: 10px;
  }
}

@media (max-width: 459px){
  .header__info-profit{
    padding: 10px  0
  }
}

@media (max-width: 356px){
  .header__info-profit{
    padding: 20px  0
  }
}

.header__title{
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 76px;
  margin: 24px 0;
}

@media (max-width: 500px){
  .header__title{
    font-size: 44px;
    line-height: 56px;
  }
}

@media (max-width: 375px){
  .header__title{
    font-size: 25px;
    line-height: 40px;
  }
}

.header__text{
  max-width: 435px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  margin: 0 0 32px 0
}
