.calculate{
  max-width: 942px;
  width: 100%;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  margin: auto;
  position: absolute;
  top: 303px; left: 0; bottom: 0; right: 0;
  box-sizing: border-box;
}

@media (max-width: 1300px){
  .calculate{
   padding: 0 50px;
   top: 312px;
  }
}

@media (max-width: 860px){
  .calculate{
   top: 262px;
  }
}


@media (max-width: 697px){
  .calculate{
   top: 322px;
  }
}

@media (max-width: 600px){
  .calculate{
   top: 280px;
  }
}

@media (max-width: 576px){
  .calculate{
   top: 307px;
  }
}

@media (max-width: 450px){
  .calculate{
   top: 268px;
  }
}

@media (max-width: 382px){
  .calculate{
   top: 294px;
  }
}

@media (max-width: 324px){
  .calculate{
   top: 321px;
  }
}

.calculate__block-rate{
  background: #FBFCFE;
  border-radius: 16px 16px 0px 0px;
  padding: 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px){
  .calculate__block-rate{
   flex-direction: column;
   padding: 24px;
  }
}


.calculate__block-revenue{
  background: #FFFFFF;
  border-radius: 0px 0px 16px 16px;
  padding: 48px; 
}

@media (max-width: 600px){
  .calculate__block-revenue{
    padding: 24px;
  }
}

.calculate__title{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #3671E9;
  margin: 0;
  }

  @media (max-width: 425px){
    .calculate__title{
      font-size: 12px;
      line-height: 20px;
    }
  }

.calculate__numbers{
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #0D0D2B;
  margin: 0;
}

@media (max-width: 600px){
  .calculate__numbers{
    font-size: 25px;
    line-height: 40px;
    margin-top: 10px;
  }
}

@media (max-width: 425px){
  .calculate__numbers{
    font-size: 18px;
    line-height: 28px;
  }
}

.calculate__numbers-other{
  color: #3671E9;
}

.calculate__text{
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #828282;
  margin-bottom: 0;
}

@media (max-width: 425px){
  .calculate__text{
    font-size: 12px;
  line-height: 20px;
  }
}
.calculate__input{
  padding: 0;
  max-width: 403px;
  height: 38px;
  width: 100%;
  background: transparent;
  border: none;
  color: #0D0D2B;
  border-bottom: 1px solid #E0E0E0;
}

@media (max-width: 1300px){
  .calculate__input{
    margin-right: 20px;
  }
} 

@media (max-width: 600px){
  .calculate__input{
   align-self: flex-start;
  }
}

@media (max-width: 425px){
  .calculate__input::placeholder {
    font-size: 12px;
  }
}

.calculate__input::placeholder {
  Color:#0D0D2B;
  }

.calculate__input-list{
  padding: 0;
  max-width: 200px;
  height: 38px;
  width: 100%;
  background: transparent;
  border: none;
  color: #0D0D2B;
  border-bottom: 1px solid #E0E0E0;
}


@media (max-width: 1300px){
  .calculate__input-list{
    margin-right: 20px;
  }
} 



@media (max-width: 600px){
  .calculate__input-list{
   align-self: flex-start;
  }
}

@media (max-width: 425px){
  .calculate__input-list::placeholder {
    font-size: 12px;
  }
}

.calculate__input-list::placeholder {
  Color:#0D0D2B;
  }

