.numbers{
  width: 100%;
  background-color: rgba(13, 13, 43, 1);
  box-sizing: border-box;
}

.numbers__content{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  padding: 100px auto 116px;
}

@media (max-width: 1300px){
  .numbers__content{
    padding: 0 50px ;
  }
}

@media (max-width: 700px){
  .numbers__content{
    flex-direction: column;
  }
}

.numbers__block{
  display: flex;
  flex-direction: row;
}

@media (max-width: 700px){
  .numbers__block{
    margin-top: 20px;
  }
}

.numbers__block-icon{
  background-color: rgba(255, 255, 255, 0.1);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px){
  .numbers__block-icon{
    width: 60px;
    height: 60px;
  }
}

.numbers__icon{
  width: 40px;
}

@media (max-width: 1000px){
  .numbers__icon{
    width: 30px;
  }
}

.numbers__block-number{
  margin-left: 24px;
  font-style: normal;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

@media (max-width: 1000px){
  .numbers__block-number{
    margin-left: 10px;
    margin-right: 10px;
  }
}

.numbers__number{
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
}

@media (max-width: 1000px){
  .numbers__number{
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 375px){
  .numbers__number{
    font-size: 20px;
    line-height: 30px;
  }
}

.number__text{
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

@media (max-width: 375px){
  .number__text{
    font-size: 10px;
    line-height: 20px;
  }
}