.mining{
  width: 100%;
  background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
  box-sizing: border-box;
  color: white;
  padding: 88px 0;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
}

@media (max-width: 1400px){
  .mining{
    padding: 88px 50px;
  }
}

@media (max-width: 768px){
  .mining{
    padding: 50px 50px;
  }
}

.mining__content{
  max-width: 1200px;
  background-color: rgba(54, 113, 233, 1);
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  padding: 48px;
  justify-content: space-between;
  box-sizing: border-box;
}

@media (max-width: 600px){
  .mining__content{
    flex-direction: column;
  }
}


@media (max-width: 425px){
  .mining__content{
    padding: 24px;
  }
}

.mining__title{
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  margin: 0;
}

@media (max-width: 900px){
  .mining__title{
    font-size: 25px;
    line-height: 24px;
  }
}

.mining__text{
  max-width: 348px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

@media (max-width: 900px){
  .mining__text{
    font-size: 12px;
    line-height: 18px;
  }
}

.mining__block-form{
  display: flex;
  max-width: 566px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.mining__block-text{
  min-width: 300px;
}

@media (max-width: 768px){
  .mining__block-text{
    min-width: 200px;
  }
}

@media (max-width: 400px){
  .mining__block-text{
    max-width: 200px;
    width: 100%;
    min-width: 100px;
  }
}

@media (max-width: 950px){
  .mining__block-form{
    flex-direction: column;
  }
}


@media (max-width: 768px){
  .mining__block-form{
    margin-left: 20px;
  }
}

@media (max-width: 600px){
  .mining__block-form{
    margin-left: 0px;
  }
}

.mining__input{
  padding: 0;
  max-width: 374px;
  height: 35px;
  width: 100%;
  background: transparent;
  border: none;
  color: #FFFFFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

@media (max-width: 1300px){
  .mining__input{
    margin:  0 30px;
  }
}

@media (max-width: 600px){
  .mining__input{
    margin: 0px;
    align-self: flex-start;
  }
}

.mining__input::placeholder {
  Color: #fff;
  }


  @media (max-width: 425px){
    .mining__input::placeholder {
      font-size: 12px;
    }
  }