.button{
  padding: 14px 32px;
  border: none;
  border-radius: 32px;
  color: white;
  background-color: #3671E9;
  border-color: transparent;
  font-weight: 500;
}

@media (max-width: 850px){
  .button{
    padding: 8px 20px;
  }
}

.button_place_header-top{
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 680px){
  .button_place_header-top{
   margin-top: 10px;
  }
}

.button_place_header-proposition{
  padding: 16px 24px;
  font-size: 18px;
  line-height: 27px;
}

@media (max-width: 500px){
  .button_place_header-proposition{
    padding: 10px 20px;
    font-size: 16px;
    line-height: 24px;
  }
}

.button_place_calculate{
  padding: 16px 32px;
  font-size: 18px;
  line-height: 27px;
}

.button_place_mining{
  background: #FFFFFF;
  color: #0D0D2B;
  padding: 14px 32px;
  font-size: 18px;
  line-height: 27px;
}


@media (max-width: 900px){
  .button_place_mining{
    margin-top: 20px;
    padding: 10px 24px;
    font-size: 14px;
    line-height: 24px;
  }
}

.button_place_trade{
  padding: 16px 16px 16px 24px;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
}

@media (max-width: 1024px){
  .button_place_trade{
    margin-bottom: 24px;
  }
}

@media (max-width: 900px){
  .button_place_trade{
    padding: 5px 10px 5px 16px;
    font-size: 14px;
    line-height: 20px;
  }
}

.button__icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color:#FFFFFF;
  border-radius: 50%;
  margin-left: 24px;
  padding: 0;
}

.button__icon_type_crypt{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-bottom: 48px;
  border: 2px solid rgba(43, 7, 110, 0.2);
  margin-left: 0;
}

@media (max-width: 900px){
  .button__icon_type_crypt{
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 900px){
  .button__vector{
    width: 7px;
    height: 11px;
  }
}

@media (max-width: 1024px){
  .button__icon_type_crypt{
    margin-bottom: 24px;
  }
}

